header {
  background-color: aliceblue;
}
nav {
  margin-left: 35px;
  margin-right: 35px;
}
.logo-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30pt;
}
.logout {
  background-color: aliceblue;
  transition-duration: 0.8s;
  border-radius: 3px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.logout:hover {
  background-color: rgb(138, 234, 202);
}
