h2 {
  margin-bottom: 6px;
}
h5 {
  color: rgb(128, 126, 126);
  margin-bottom: 20px;
}
.column {
  padding: 4px;
  width: 350px;
}

/* .form-container {
    width: 100%;
  } */

.passwordHelp {
  margin-bottom: 50px;
}

.fontAwesomeIcon {
  margin-right: 2px;
  padding-right: 2px;
}

label {
  margin: 2px;
  padding: 1px;
}

input {
  margin: 2px;
}
/* 
  .Registration-Body {
    background-color: #bdfdee;
  } */

/* .Registration-form {
    height: 60vh;
    width: auto;
    border-radius: 15px;
    border-width: 5px;
    border-color: #005dda;
    text-align: center;
  } */

.register {
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 2px;
}
