form {
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  margin-top: 4px;
}
option {
  font-size: 10pt;
}
.submit {
  background-color: rgb(138, 234, 202);
  height: 40px;
  border: none;
  border-radius: 4px;
}
.submit:hover {
  color: white;
  background-color: aquamarine;
}
